
body {
  margin: 0;
}

header {
  position: fixed;
  height: 72px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

}

.header_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;

}

.logo {
  margin: 30px;
}

header_items {
  display: flex;


}

.sing_in {
  box-sizing: border-box;

  /*position: absolute;*/
  width: 78px;
  height: 40px;
  left: 903px;
  top: 16px;

  border: 1px solid #E0E0E0;
  border-radius: 2px;

}

.a_sing_in {
  text-decoration: none;
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;

  display: flex;
  padding: 14px 20px;

  color: #1D1D1D;

}

.basket {
  position: absolute;
  top: 30px;
  right: 97px;

}


/*Шрифт который будет дальше*/
{
  font-family: 'Roboto', sans-serif
;
  font-weight: 400
;
}
@media (max-width: 320px) {
  .basket {
    display: none;
  }
}

/* SEARCH */

.search_restaurant {

  width: 100%;
  position: relative;
  padding-top: 110px;
}

.search {

  background: #757575;
  mix-blend-mode: normal;
  opacity: 0.3;
  width: 100%;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #757575;
  color: #626262;
  font: 16px Roboto, sans-serif;

}

@media (max-width: 768px) {
  .search {
    padding: 0px 8px 0px 8px;
  }
}

/*@media (max-width:320px) {
.search {
  padding: 0px 8px 0px 8px;
}}
*/


/*CONTENT*/
comtainer {
  margin: 76px;
}

.restaurant {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  /* identical to box height, or 155% */

  display: flex;
  align-items: center;

  color: #1D1D1D;
}

/*.card:hover {
  margin: 0 16px 0 0;
  background: #757575;
  mix-blend-mode: normal;
  opacity: 0.04;
}  работает но плохо*/

.name_rest {
  text-decoration: none;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #1D1D1D;
}

.card {
  margin-bottom: 36px;

}

.card > img {
  width: 100%;
  margin-bottom: 16px;
}

/*.card >a {
  margin: 0 16px 0 0;
}*/
.card > p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  color: #626262;
  margin: 0 4px 0 0;
}


/* FOOTER */
footer {
  box-sizing: border-box;
  background: #262626;
  padding: 59px 0 0 0;
}
.logo_in_footer {
  margin: 0px 0 40px 0;
}
.sharp{

  color: rgba(73, 161, 68, 1);
}

.footer_p {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;

}

hr {
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin: 0 84px;
}

select {
  width: 70%;
  outline: none;
  position: relative;
  bottom: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font: 13px Roboto, sans-serif;
  color: white;
  border: none;
  background-color: #3B3B3B;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.language {
  height: 40px;
  width: 100%;
  background: #3B3B3B;
  border-radius: 2px;
  position: relative;
}

.language > img {
  padding: 12px 16px 12px 16px;
}

.social-icons {
  margin-top: 33px;
}

.social-icons li a {
  border-bottom: none;
}

.social-icons li img {

}
